* {
	margin: 0;
	padding: 0;
}

a {
text-decoration: none
}

body{
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    background-image: url(./img/Rectangle\ 1.png);
    height: 1024px;

    &_title{
        padding-top: 217px;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    &_text{

        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    &_button{
        background: #9C0332;
        border-radius: 30px;
        width: 234.06px;
        height: 48.6px;
    }
}

.game__group{
    background-image: url(./img/fontwo.png);
    height: 556px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    &_one{ 
        grid-column: span 6;
    }
}

.onegame{
    background-image: url(./img/fontwo.png)
    height: 800px;



}